.axilar11 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 8px;
       left: 19px;
	}
.axilar12 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 8px;
       left: 45px;
	}
.axilar13 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 50px;
       left: 45px;
	}
.axilar14 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 29px;
       left: 32px;
	}
.axilar21 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 8px;
       left: 550px;
	}
.axilar22 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 8px;
       left: 576px;
	}
.axilar23 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 50px;
       left: 550px;
	}
.axilar24 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 29px;
       left: 563px;
	}
.radio112s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 92px;
       left: 148px;
	}
.radio112s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 67px;
       left: 148px;
	}
.radio112s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 42px;
       left: 148px;
	}
.radio101s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 97px;
       left: 170px;
	}
.radio101s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 76px;
       left: 183px;
	}
.radio101s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 55px;
       left: 196px;
	}
.radio102s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 113px;
       left: 185px;
	}
.radio102s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 102px;
       left: 207px;
	}
.radio102s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 91px;
       left: 229px;
	}
.radio103s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 191px;
	}
.radio103s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 216px;
	}
.radio103s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 241px;
	}
.radio104s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 157px;
       left: 185px;
	}
.radio104s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 169px;
       left: 207px;
	}
.radio104s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 181px;
       left: 229px;
	}
.radio105s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 172px;
       left: 170px;
	}
.radio105s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 193px;
       left: 183px;
	}
.radio105s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 214px;
       left: 196px;
	}
 .radio106s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 179px;
       left: 148px;
	}
.radio106s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 204px;
       left: 148px;
	}
.radio106s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 229px;
       left: 148px;
	}
.radio107s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 172px;
       left: 126px;
	}
.radio107s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 193px;
       left: 113px;
	}
.radio107s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 214px;
       left: 100px;
	}
.radio108s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 157px;
       left: 110px;
	}
.radio108s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 169px;
       left: 88px;
	}
.radio108s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 181px;
       left: 66px;
	}
.radio109s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 104px;
	}
.radio109s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 79px;
	}
.radio109s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 54px;
	}
.radio110s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 113px;
       left: 110px;
	}
.radio110s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 102px;
       left: 88px;
	}
.radio110s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 91px;
       left: 66px;
	}
.radio111s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 97px;
       left: 126px;
	}	
.radio111s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 76px;
       left: 113px;
	}	
.radio111s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 55px;
       left: 100px;
	}	
.areola112 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 118px;
       left: 154px;
	}
.areola101 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 121px;
       left: 166px;
	}
.areola102 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 130px;
       left: 174px;
	}
.areola103 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 141px;
       left: 177px;
	}
.areola104 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 152px;
       left: 174px;
	}
.areola105 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 161px;
       left: 166px;
	}
.areola106 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 165px;
       left: 154px;
	}
.areola107 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 161px;
       left: 142px;
	}
.areola108 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 152px;
       left: 133px;
	}
.areola109 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 141px;
       left: 129px;
	}	
.areola110 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 130px;
       left: 133px;
	}
.areola111 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 121px;
       left: 142px;
	}
.pezon1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 148px;
	}
.radio212s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 92px;
       left: 449px;
	}
.radio212s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 67px;
       left: 449px;
	}
.radio212s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 42px;
       left: 449px;
	}
.radio201s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 97px;
       left: 471px;
	}	
.radio201s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 76px;
       left: 484px;
	}	
.radio201s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 55px;
       left: 497px;
	}	
.radio202s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 113px;
       left: 486px;
	}
.radio202s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 102px;
       left: 508px;
	}
.radio202s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 91px;
       left: 530px;
	}
.radio203s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 492px;
	}
.radio203s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 517px;
	}
.radio203s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 542px;
	}
.radio204s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 157px;
       left: 486px;
	}
.radio204s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 169px;
       left: 508px;
	}
.radio204s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 181px;
       left: 530px;
	}
.radio205s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 172px;
       left: 471px;
	}	
.radio205s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 193px;
       left: 484px;
	}	
.radio205s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 214px;
       left: 497px;
	}	
.radio206s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 179px;
       left: 449px;
	}
.radio206s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 204px;
       left: 449px;
	}
.radio206s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 229px;
       left: 449px;
	}
.radio207s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 172px;
       left: 427px;
	}	
.radio207s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 193px;
       left: 414px;
	}	
.radio207s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 214px;
       left: 401px;
	}	
.radio208s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 157px;
       left: 411px;
	}
.radio208s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 169px;
       left: 389px;
	}
.radio208s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 181px;
       left: 367px;
	}
.radio209s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 405px;
	}
.radio209s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 380px;
	}
.radio209s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 355px;
	}
.radio210s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 113px;
       left: 411px;
	}
.radio210s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 102px;
       left: 389px;
	}
.radio210s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 91px;
       left: 367px;
	}
.radio211s1 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 97px;
       left: 427px;
	}	
.radio211s2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 76px;
       left: 414px;
	}	
.radio211s3 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 55px;
       left: 401px;
	}	
.areola212 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 118px;
       left: 455px;
	}
.areola201 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 121px;
       left: 467px;
	}

.areola202 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 130px;
       left: 475px;
	}

.areola203 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 141px;
       left: 478px;
	}

.areola204 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 152px;
       left: 475px;
	}

.areola205 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 161px;
       left: 467px;
	}

.areola206 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 165px;
       left: 455px;
	}

.areola207 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 161px;
       left: 443px;
	}

.areola208 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 152px;
       left: 434px;
	}

.areola209 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 141px;
       left: 430px;
	}	

.areola210 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 130px;
       left: 434px;
	}

.areola211 {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 121px;
       left: 443px;
	}

.pezon2 {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
    position: absolute;
       top: 135px;
       left: 449px;
	}

.axilar11:hover,
.axilar12:hover,
.axilar13:hover,
.axilar14:hover,
.axilar21:hover,
.axilar22:hover,
.axilar23:hover,
.axilar24:hover,
.areola112:hover,
.areola101:hover,
.areola102:hover,
.areola103:hover,
.areola104:hover,
.areola105:hover,
.areola106:hover,
.areola107:hover,
.areola108:hover,
.areola109:hover,
.areola110:hover,
.areola111:hover,
.radio112s1:hover,
.radio112s2:hover,
.radio112s3:hover,
.radio101s1:hover,
.radio101s2:hover,
.radio101s3:hover,
.radio102s1:hover,
.radio102s2:hover,
.radio102s3:hover,
.radio103s1:hover,
.radio103s2:hover,
.radio103s3:hover,
.radio104s1:hover,
.radio104s2:hover,
.radio104s3:hover,
.radio105s1:hover,
.radio105s2:hover,
.radio105s3:hover,
.radio106s1:hover,
.radio106s2:hover,
.radio106s3:hover,
.radio107s1:hover,
.radio107s2:hover,
.radio107s3:hover,
.radio108s1:hover,
.radio108s2:hover,
.radio108s3:hover,
.radio109s1:hover,
.radio109s2:hover,
.radio109s3:hover,
.radio110s1:hover,
.radio110s2:hover,
.radio110s3:hover,
.radio111s1:hover,
.radio111s2:hover,
.radio111s3:hover,
.pezon1:hover,
.areola212:hover,
.areola201:hover,
.areola202:hover,
.areola203:hover,
.areola204:hover,
.areola205:hover,
.areola206:hover,
.areola207:hover,
.areola208:hover,
.areola209:hover,
.areola210:hover,
.areola211:hover,
.radio212s1:hover,
.radio212s2:hover,
.radio212s3:hover,
.radio201s1:hover,
.radio201s2:hover,
.radio201s3:hover,
.radio202s1:hover,
.radio202s2:hover,
.radio202s3:hover,
.radio203s1:hover,
.radio203s2:hover,
.radio203s3:hover,
.radio204s1:hover,
.radio204s2:hover,
.radio204s3:hover,
.radio205s1:hover,
.radio205s2:hover,
.radio205s3:hover,
.radio206s1:hover,
.radio206s2:hover,
.radio206s3:hover,
.radio207s1:hover,
.radio207s2:hover,
.radio207s3:hover,
.radio208s1:hover,
.radio208s2:hover,
.radio208s3:hover,
.radio209s1:hover,
.radio209s2:hover,
.radio209s3:hover,
.radio210s1:hover,
.radio210s2:hover,
.radio210s3:hover,
.radio211s1:hover,
.radio211s2:hover,
.radio211s3:hover,
.pezon2:hover
{  background: #000}

.senos-fondo {
    opacity: .9;
    width: 620px;
    height: 310px;
}