* {
	font-family: sans-serif;
}
h1 {
	text-align: center;
	margin: 10px 0 10px 0px;
	text-transform: uppercase;
	text-decoration: underline;
}
#contenido {
	width: 95%;
	margin: 0px auto;
	clear: both;
	font-size: 11px;
}

.logo_reporte {
	width: 756px;
	height:127px;
	margin-right: 10px;
	margin-left: 5px; 
}

.logo_reporte img{
	width: 756px;
	height: 127px
}
.fecha {
	text-align: right;
	font-weight: bold;	
}

.tabla1r {
	width: 90%;
	border-collapse: collapse;
	margin: 0px 0 0px 0;
}
.tabla1r th {
}
.tabla1r td {
	border: 0px solid #000;
	padding: 0px 30px;
	text-align: left;
}

.tabla2r {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0 10px 0;
	clear: both;

}
.tabla2r th {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 0px 30px;
}
.tabla2r td {
	border: 0px solid #000;
	text-align: center;
	padding: 0px 30px;
}
.tabla2r .izq {
	text-align: right;
	padding: 0 10px 0 0;
}

.tabla3r {
	width: 96%;
	border: 0;
	margin: 0px 0 0px 0;
	border-collapse: collapse;
}
.tabla3r th {
    border: 0px solid #000;
	padding: 0px 30px;
	text-align: right;
	width: 85%;
}

.tabla3r td {
	border: 0px solid #000;
	padding: 0px 30px;
	text-align: right;
	width: 15%;
}

.tabla1 {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0 20px 0;
}
.tabla1 th {
}
.tabla1 td {
	border: 1px solid #000;
	padding: 5px 0px;
	text-align: left;
}
.titulo {
	font-weight: bold;
	margin-right: 10px;
	margin-left: 5px;
	font-size: 16px;
}

.titulo_segundario {
	font-weight: bold;
	margin-right: 10px;
	margin-left: 5px;
	font-size: 12px;
}
.tabla2 {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0 10px 0;
	clear: both;
}
.tabla2 th {
	font-weight: bold;
	text-align: left;
	border: 1px solid #000;
}
.tabla2 td {
	border: 1px solid #000;
	text-align: left;
	padding: 5px;
}
.tabla2 .izq {
	text-align: right;
	padding: 0 10px 0 0;
}

.tabla3 {
	width: 100%;
	border-collapse: separate;
	margin: 10px 0 20px 0;
}
.tabla3 th {
	font-weight: bold;
	text-align: center;
	border: 0px solid #000;
}
.tabla3 td {
	border: 0px solid #000;
	padding: 5px 0px;
	text-align: left;
}


.tabla4 {
	width: 50%;
	border-collapse: separate;
	margin: 0 0 0 0;
}
.tabla4 th {
	font-weight: bold;
	text-align: center;
	border: 0px solid #000;
}
.tabla4 td {
	border: 0px solid #000;
	padding: 5px 0px;
	text-align: left;
}

.tabla5 {
	width: 100%;
	border-collapse: separate;
	margin: 0 0 0 0;
}
.tabla5 th {
	font-weight: bold;
	text-align: center;
	border: 0px solid #000;
}
.tabla5 td {
	border: 0px solid #000;
	padding: 5px 0px;
	text-align: left;
}
.tabla7 {
	border-collapse: collapse;
	width: 98%;
	margin: 0 auto;
	font-size: 9px !important;
}
.tabla7 th {
	background: #E7E7E7;
	font-weight: bold;
	text-align: center;
	padding: 6px 3px;
	border: 1px solid #ccc;
	font-size: 9px;
}
.tabla7 td {
	padding: 5px 3px;
	border: 1px solid #ccc;
}
.tabla7 .izq {
	text-align: right;
	padding: 0 10px 0 0;
	font-size: 12px;
}
.salto {
	page-break-after:always;
}
.cont-recipes {
	clear: both;
	background-color: #995959;
	width: 100%;
	margin: 0px auto;
}

.mensaje {
		text-align: justify;
		padding: 20px 0px 50px 0px;
		width: 90%;
		text-indent: 14px;
		font-size: 16px;
		margin: 0px auto;
	}
.firma {
		display: block;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		margin: 100px 0px 100px 0px;
	}

.tabla_dat_cliente {
	width: 100%;
	/*border-collapse: collapse;*/
	margin: 0px 0 0px 0;
}
.tabla_dat_cliente th {
}
.tabla_dat_cliente td {
	border: 0px solid #000;
	padding: 0px 30px;
	text-align: right;
}